<div id="panel" class="panel panel-default">
  <div class="panel-body">
<h1>Editing Tweet</h1>

<%= form_for :tweet, url: tweet_path(@tweet), method: :patch do |f| %>


    <p>
      <%= f.label :Tweet %><br>
      <%= f.text_field :content %>
    </p>


    <p>
      <%= f.button :save %>
    </p>

<% end %>

<%= link_to 'Back', tweets_path %>
</div>
</div>
