
<div id="tweet">

 <br> <table class="table table-hover">

  <% @tweets.each do |tweet| %>

      <tr><td><strong><%= tweet.username %></strong></td></tr>
      <tr>

        <td><%= tweet.content %> <p class="time"><%= tweet.created_at %></p> </td>

        <td><%= link_to  'Show', tweet_path(tweet) %></td>

        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Delete', tweet_path(tweet),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table><br>




  </div>


