<h1>Your Tweets</h1><br>


<table>

  <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>

        <td><%= link_to 'Show', tweet_path(tweet) %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet_path(tweet),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table><br>

<%= link_to 'New tweet', new_tweet_path %>