<div id="show">
<p>
  <strong>Tweet:</strong>
  <%= @tweet.content %>
</p>
<h2>Comments</h2>
<% @tweet.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <%= link_to 'Destroy Comment', [comment.tweet, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>
<p>

</p>
<h2>Add a comment:</h2>
<%= form_for([@tweet, @tweet.comments.build]) do |f| %>
    <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <%= f.label :User%>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :Comment  %>
      <%= f.text_field :body, size: 70%>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Tweets', tweets_path %>

</div>